# Ignore everything 
* 

# But not these files...
!.gitignore

!app.py
!config_tester.py
!create_tables.py
!decorator_test.py
!__init__.py
!make_glob_list.py
!make_tree.py

#ignore all mp3 files within media folder (but include folder itself)
!media/*
**/*.mp3
#ignore all jpg files within media folder (but include folder itself)
!photos/*
**/*.jpg
**/*.jpeg

!project_start.sh
!pseudo_diceware.py
!recursive_test.py
!regex_alt.py
!regex_wrapper_test.py
!requirements.txt
!sample_config.ini
!sentiment_images/*
!sha256test.py
!table_extract_test.py
!tables_create.sql
!templates/*
!wordlists/*

