{%extends 'layout.html'%}

{%block body%}
<div class="jumbotron">
  <h1>Flask Website Project</h1>
  <p class="lead">I made this site using flask to host some small web applications. Feedback and complaints appreciated.</p>
  <h2>Sources and Links</h2>
  <p class="lead">The code for this site and the apps hosted on it can be found on <a href="https://github.com/louisgregg/">my Github</a>.
    Much of the initial html and flask code was sourced from the very good <a href="https://github.com/bradtraversy/myflaskapp">Traversy Media</a> tutorial.
  </p>
  <!-- <a class="btn btn-lg btn-primary" href="/docs/4.2/components/navbar/" role="button">View navbar docs &raquo;</a> -->
  <center>
<figure>
 <img src="photos/image_1.jpg" alt="un gringo amarillo" width="400" />
 <figcaption>
 A (Bright Yellow) Portrait of the Artist as a Young Man.
 </figcaption>
</figure>
</center>
</div>

{% endblock %}
