{%extends 'layout.html'%}

{%block body%}
<div class="jumbotron">
  <h1>Shitty Website Project</h1>
  <p class="lead">I made this site using flask to host some small web applications. Feedback and complaints appreciated.</p>
  <h2>Sources and Links</h2>
  <p class="lead">The code for this site can be found on <a href="https://github.com/louisgregg/flask-project-1">my Github repo</a>.
    Most of the html and flask code was sourced from the very good <a href="https://github.com/bradtraversy/myflaskapp">Traversy Media</a>.
  </p>
  <!-- <a class="btn btn-lg btn-primary" href="/docs/4.2/components/navbar/" role="button">View navbar docs &raquo;</a> -->
</div>
{% endblock %}
